{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["prettier", "react", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "globals": {
    "window": true,
    "process": true,
    "console": true,
    "global": true,
    "module": true
  },
  "rules": {
    "react/display-name": false
  }
}